@charset "UTF-8";
html, body {
  min-width: 270px;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  background-color: black;
  line-height: 1.5;
}

body {
  max-width: 1200px;
  margin: auto;
}

img {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-touch-callout: none;
  -moz-user-select: none;
  touch-callout: none;
  user-select: none;
}

p {
  color: #fff;
  padding: 0;
  margin: 0;
}

.header-contents {
  box-sizing: content-box;
  text-align: center;
  line-height: 30px;
}

.header-contents h1 {
  display: inline-block;
  font-size: 2.5rem;
  letter-spacing: 0.1em;
  padding: 5px;
  color: #fff;
}

h2 {
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  text-shadow: 2px 2px 2px rgba(121, 120, 112, 0.5);
}

.heading {
  position: relative;
  padding-top: 50px;
  padding-bottom: 50px;
  font-size: 24px;
  text-align: center;
  margin-bottom: 30px;
}

.heading::before {
  content: attr(data-en);
  position: absolute;
  top: 26px;
  left: 51%;
  transform: translateX(-50%);
  color: rgba(52, 59, 59, 0.5);
  font-size: 30px;
  font-style: italic;
}

#about {
  margin-top: 10em;
}

#boxmenu nav {
  display: flex;
  float: right;
}

#boxmenu ul {
  display: flex;
  margin: 0 20px 0 5px;
  padding: 0;
  list-style-type: none;
}

#boxmenu li {
  font-size: 18px;
  padding: 8px 0 8px 20px;
}

#boxmenu li a {
  color: #fff;
  text-decoration: none;
}

.copyright {
  display: none;
}

.blank1 {
  margin: 7em 0;
}

#work img {
  width: 100%;
}

.poster {
  margin: auto;
  width: 80%;
}

#work p {
  text-align: center;
  font-size: 12px;
}

.weblink {
  margin: 0 20px;
}

/*=====================
#production スライダー
=====================*/

#production {
  background: rgb(5, 49, 27);
}

.product {
  text-align: center;
}

.slider {
  width: 80%;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.slider img {
  width: 100%;
  height: auto;
}

.slick-slide {
  margin: 0 10px;
}

.slick-prev, .slick-next {
  position: absolute;
  top: 35%;
  cursor: pointer;
  outline: none;
  border-top: solid 4px #666;
  border-right: solid 4px #666;
  height: 15px;
  width: 15px;
}

.slick-prev {
  left: -5%;
  transform: rotate(-135deg);
}

.slick-next {
  right: -5%;
  transform: rotate(45deg);
}

.slick-dots {
  text-align: center;
  margin: 20px 0 0 -36px;
}

.slick-dots li {
  display: inline-block;
  margin: 0 5px;
}

.slick-dots button {
  color: transparent;
  outline: none;
  width: 10px;
  height: 12px;
  display: block;
  border-radius: 50%;
  background: #ccc;
}

.slick-dots .slick-active button {
  background: rgb(220, 250, 40);
}

/*
#production スライダー
=====================*/

/*=====================
#NEWS
=====================*/

#news {
  margin: 20px;
}

.newstab {
  width: 100%;
  max-width: 960px;
  margin: 30px auto;
  background: #000000;
}

.tab {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  list-style: none;
}

.tab li a {
  display: block;
  background: rgb(75, 126, 68);
  margin: 0 2px;
  padding: 10px 20px;
  text-decoration: none;
  color: #fff;
}

.tab li.active a {
  background: #fff;
  color: black;
}

.area {
  display: none;
  opacity: 0;
  background: #fff;
  padding: 10px 20px;
}

.area ul {
  color: rgb(76, 67, 100);
  list-style: none;
  padding: 10px 0;
}

.area li {
  padding: 10px;
}

#blog.area li {
  padding: 25px 6px 35px 6px;
}

.area a {
  color: rgb(76, 67, 100);
}

.area.is-active {
  display: block;
  animation-name: displayAnime;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes displayAnime {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*
#/NEWS
=====================*/

/*=====================
#gallery
=====================*/

.column {
  text-align: center;
}

.column video {
  max-width: 960px;
  pointer-events: all;
}

/*
/#gallery
=====================*/

footer {
  box-sizing: content-box;
  font-size: 18px;
  text-align: center;
  color: #fff;
}

/*=====================
画像きらり
=====================*/

.shine span.mask {
  position: relative;
  display: block;
  line-height: 0;
  overflow: hidden;
}

.shine span.mask::before {
  position: absolute;
  content: "";
  width: 50%;
  height: 100%;
  top: 0;
  left: -75%;
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);
  transform: skewX(-25deg);
}

.shine span.mask:hover::before {
  animation: shine 1.5s;
}

@keyframes shine {
  100% {
    left: 125%;
  }
}

/*
画像きらり
=====================*/

/*=====================
画像フェード
=====================*/

.fadeUp {
  animation-name: fadeUpAnime;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes fadeUpAnime {
  from {
    opacity: 0;
    transform: translateX(200px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.fadein {
  opacity: 0;
}

/*==========
画像フェード
==========*/

/*=====================
にゅ～ん
=====================*/

.smooth {
  animation-name: smoothAnime;
  animation-duration: 1.2s;
  animation-fill-mode: forwards;
  transform-origin: left;
  opacity: 0;
}

@keyframes smoothAnime {
  from {
    transform: translate3d(0, 100%, 0) skewY(12deg);
    opacity: 0;
  }
  to {
    transform: translate3d(0, 0, 0) skewY(0);
    opacity: 1;
  }
}

.smoothTrigger {
  opacity: 0;
}

/*==========
にゅ～ん
==========*/

/*=====================
タブレット＆スマホ
=====================*/

@media screen and ( max-width:800px) {
  .header-contents {
    line-height: 30px;
  }
  .header-contents h1 {
    font-size: 1.3rem;
    padding: 0 10px;
  }
  #boxmenu {
    display: none;
  }
  #boxmenu nav {
    display: inline;
    float: none;
  }
  #boxmenu ul {
    display: inline;
  }
  #boxmenu li {
    font-size: 24px;
  }
  .menu_1 li {
    border-bottom: 1px solid #ffffff;
  }
  .sns_btm {
    display: flex;
    margin-left: 43%;
  }
  .menu_2 li {
    float: left;
  }
  .menu-btn {
    position: absolute;
    top: 15px;
    right: 15px;
    display: flex;
    height: 30px;
    width: 30px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .copyright {
    display: block;
    text-align: center;
    font-size: 18px;
    color: #fff;
    padding: 15px;
  }
  /*三本線のメニューボタン*/
  .menu-btn span:before {
    bottom: 8px;
  }
  .menu-btn span:after {
    top: 8px;
  }
  .menu-btn span, .menu-btn span:before, .menu-btn span:after {
    content: '';
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background-color: #fff;
    position: absolute;
  }
  /*三本線のメニューボタン*/
  .blank1 {
    margin: 3em 0;
  }
}

/*=====================
スマホ
=====================*/

@media screen and (max-width:480px) {
  .sns_btm {
    margin-left: 35%;
  }
}